*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(44, 44, 44);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
.fut23-closed {
    display: flex;
    background: url(/.Homeworks/FifaCardApp/FifaCardImg/fut23.png);
    background-size: contain;
    background-position: center;
    overflow: hidden;
    height: 300px;
    width: 210px;
    border-radius: 15px;
    margin-top: 2%;
}
#btn-to-open{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}
@keyframes hoverAnimation {
    0%{
        border: 1px solid black;
        border-radius: 30px;
    }
    25%{
        border: 1px solid rgb(82, 82, 82);
        border-radius: 20px;
    }50%{
        border: 1px solid black;
        border-radius: 30px;
    }75%{
        border: 1px solid rgb(82, 82, 82);
        border-radius: 20px;
    }100%{
        border: 1px solid black;
        border-radius: 30px;
    }   
}
.fut23-closed:hover{
    animation: hoverAnimation 3s ease-in-out infinite;
}
#btn-to-open:hover{
    background-color: black;
    opacity: .1;
}

#btn-to-open:active{
    background-color: #fff;
    opacity: .01;
    transition: all;
}
@keyframes activeAnimation {
    0%{
        border: 1px solid rgb(82, 82, 82);
        border-radius: 50px;
    }
    25%{
        border: 1px solid black;
        border-radius: 30px;
    }50%{
        border: 1px solid rgb(82, 82, 82);
        border-radius: 20px;
    }75%{
        border: 1px solid black;
        border-radius: 30px;
    }100%{
        border: 1px solid rgb(82, 82, 82);
        border-radius: 50px;
    }   
}
.fut23-closed:focus{
    animation: activeAnimation .2s ease-in-out infinite;
}

#fut-cards{
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 450px;
}
.opened_imgs_div{
    align-items: baseline;
    flex-direction: row;
    margin-left: 30px;
    height: 400px;
    width: 200px;
    animation: animateOpen 4s ease-in-out .5s;
}
@keyframes animateOpen{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .3;
    }
    100%{
        opacity: 1;
    }
}
.opened_imgs{
    flex: .2;
    height: 350px;
    object-fit: contain;
}
.opened_imgs:hover{
    cursor: pointer;
    transform: translateY(-15px);
    /* animation: jumpingCards 2s ease-in-out .5s; */
    transition: all .7s ease-in-out;
}
/* @keyframes jumpingCards {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
} */
.opened_imgs:active{
    transform: scale(.90);
    transition: all .7s ease-in-out;
}